<!DOCTYPE html>
<html lang="en">
<head>
    <script src = "assets/native/js/shared.js"></script>
  ` <meta charset="UTF-8">
   `<title>Check In</title>
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="icon" href="assets/images/logo-emissary.png">
    <link rel="stylesheet" href = "assets/native/css/checkin.css">
</head>
<body id='check-in-page'>
<script type="text/javascript">
  window._mfq = window._mfq || [];
  (function() {
    var mf = document.createElement("script");
    mf.type = "text/javascript"; mf.async = true;
    mf.src = "//cdn.mouseflow.com/projects/2059175d-3363-4ec7-8c2c-d180daa76bb3.js";
    document.getElementsByTagName("head")[0].appendChild(mf);
  })();
</script>

<h1 id = "clock"></h1>
<form class = "check-in hide" id="custom-form">
</form>

<!-- HANDLE BAR TEMPLATES -->
  <script type="text/x-handlebars-template" id="custom-form-template">
    <h1>Check in</h1>
    <div class="field-holder">
    <input class = "visitor-fields" id="visitor-first" type = "text" name = "first" placeholder = "First"> <br>
    <input class = "visitor-fields" id="visitor-last" type = "text" name = "last" placeholder = "Last"> <br>
    <input class = "visitor-fields" id="visitor-number" type = "text" name = "phoneNumber" placeholder = "Phone Number">
    {{#each this}}
    <input class = "visitor-fields" type = "text" name = "{{value}}" placeholder = "{{value}}"> <br>
    {{/each}}
    </div>
    <br>
    <input class = "submit-check-in" type="submit" value="Submit">
  </script>

<div class = "has-apt hide">
    <h1>Do you have an appointment?</h1>
    <div id = "yes-apt">
        <p>Yes</p>
    </div>
    <br>
    <div id = "no-apt">
        <p>No</p>
    </div>
</div>

<div class="select-apt hide">
  <h1 class="big-head">Please Select Your Appointment Below</h1>
  <table class="table">
    <thead>
    <tr>
      <th st-sort="FirstName">First</th>
      <th st-sort="LastName">Last</th>
      <th st-sort="Appointment">Appointment Time</th>
    </tr>
    </thead>

    <tbody id="apt-list">
    <!-- PATIENT QUEUE TEMPLATE GOES HERE -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog"></div>
    </div>
    </tbody>
  </table>
  <!-- HANDLE BAR TEMPLATES -->
  <script type="text/x-handlebars-template" id="apt-list-template">
    {{#each []}}
    <tr class="patient-check-out" data-toggle="modal" data-target="#myModal" value="{{this._id}}">
      <td class="patient-queue-text">{{this.first_name}}</td>
      <td class="patient-queue-text">{{this.last_name}}</td>
      <td class="patient-queue-text appt-id">{{this.appointmentTime}}</td>
    </tr>
    {{/each}}
  </script>
  <script type="text/x-handlebars-template" id="apt-info-template">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h1 class="modal-title">Confirm Appointment</h1>
      </div>
      <div class="modal-body" value="{{this._id}}">
        <div class="modal-left" value="{{this._apptId}}">
          <p><span>First:</span> {{this.first_name}}</p>
          <p><span>Last:</span> {{this.last_name}}</p>
        </div>
        <div class="modal-right">
          <p><span>Phone Number:</span> {{this.phone_number}}</p>
          <p><span>Appointment Time:</span> {{this.appointmentTime}}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="check-in-btn btn btn-default" data-dismiss="modal" value="{{this._id}}">Confirm
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </script>

</div>

<div id="tap-to-check">
  <p>Tap To Check In</p>
</div>
<!--
<div id = "return-to-visitors">
    <p>X</p>
</div>
-->
<script src="assets/js/socket.io.js"></script>
<script src="assets/js/jquery-1.11.3.min.js"></script>
<script src="assets/native/js/date-time.js"></script>
<script src="assets/native/js/checkin.js"></script>
<script type="text/javascript" src="assets/js/handlebars-v4.0.5.js"></script>
<script src="assets/js/bootstrap.js"></script>

</body>
</html>
